<%- include('layouts/header') -%>
<link rel="stylesheet" href="../css/avatarStyle.css">
<script src="../js/profileUser.js"></script>

<div class="container-fluid" id="call-view">
    <div class="row full-height">
        <div id="left-panel" class="col-12 col-md-4" style="border-style: solid; border-radius: 5px; border-color: #dedede;">
            <div class="left-panel-content">
                <h6 style="text-align: center; margin-top: 20px;">Thông tin tài khoản</h6>
                <div class="avatar-wrapper">
                    <img class="profile-pic" src="<%=user.photo_url  %>"/>
                    <div class="upload-button">
                        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    </div>
                    <form 
                        id="upload-avatar-form" 
                        action="/user/upload"
                        enctype="multipart/form-data" 
                        method="POST">
                        <input name="photo" class="file-upload" type="file"/>
                    </form>
                </div>
                <p>Họ tên: <%= user.fullname %></p>
                <p>Email: <%= user.email %> </p>
            </div>
        </div>
        <div id="middle-panel" class="col-12 col-md-4 full-height" style="border-style: solid; border-radius: 5px; border-color: #dedede; padding-right: 0;">
            <div class="middle-panel-content full-height">
                <div style="overflow-y: scroll; height: 50%;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col" colspan="3">Danh sách bạn bè</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% user.list_friends.forEach(element => { %>
                                <tr class="align-middle">
                                    <td>
                                        <div id="<%= element.id %>" class='c-avatar friends'>
                                            <img class='c-avatar__image' src='<%=element.photo_url%>' alt=''>
                                        </div>
                                    </td>
                                    <td><%= element.fullname %></td>
                                    <td id="<%= element._id %>" class="actionBtn">
                                        <button id="<%= element.id %>" type="button" class="btn btn-danger btn-sm unfriendBtn">Hủy kết bạn</button>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div style="overflow-y: scroll; height: 50%;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col" colspan="3">Nhật ký cuộc gọi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% callLogs.forEach(callLog => { %>
                                <tr class="align-middle">
                                    <td colspan="2">
                                        <%= callLog.call_to.fullname %>
                                    </td>
                                    <td>
                                        <%= callLog.createdAt %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="right-panel" class="col-12 col-md-4 full-height" style="border-style: solid; border-radius: 5px; border-color: #dedede; padding-right: 0;">
            <div class="right-panel-content full-height">
                <div style="overflow-y: scroll; height: 50%;">
                    <table id="suggest" class="table">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col" colspan="3">Gợi ý kết bạn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% list_suggest.forEach(element => { %>
                                <% if (element.status != 2) { %>
                                    <tr class="align-middle">
                                        <td>
                                            <div class='c-avatar'>
                                                <img class='c-avatar__image' src='<%=element.request_to.photo_url%>' alt=''>
                                            </div>
                                        </td>
                                        <td><%= element.request_to.fullname %> </td>
                                        <% if (element.status == 0) { %>
                                            <td><button id="<%=element.request_to.id%>" type="button" class="btn btn-secondary btn-sm requestBtn">Kết bạn</button></td>
                                        <% } %>
                                        <% if (element.status == 1) { %>
                                            <td><button id="<%=element.request_to.id%>" type="button" class="btn btn-danger btn-sm cancel-requestBtn">Hủy lời mời</button></td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div style="overflow-y: scroll; height: 50%;">
                    <table id="request" class="table">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col" colspan="3">Lời mời kết bạn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (list_notification) { %>
                                <% list_notification.request_from.forEach(element => { %>
                                    <tr class="align-middle">
                                        <td>
                                            <div class='c-avatar'>
                                                <img class='c-avatar__image' src='<%=element.user.photo_url%>' alt=''>
                                            </div>
                                        </td>
                                        <td><%= element.user.fullname %> </td>
                                        <td>
                                            <button id="<%=element.user.id%>" class="btn btn-success btn-sm acceptBtn" type="button">Đồng ý</button>
                                            <button id="<%=element.user.id%>" type="button" class="btn btn-danger btn-sm declineBtn">Từ chối</button>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>