<%- include('layouts/header') -%>
<link rel="stylesheet" href="../css/avatarStyle.css">
<script src="../js/profileUser.js"></script>

<div class="container-fluid" style="height: 100vh; position: fixed;">
    <div class="row full-height">
        <div class="col-12 col-md-4" style="background-color: aqua;">
            <p>Thông tin tài khoản</p>
            <div class="avatar-wrapper">
                <img class="profile-pic" src="" />
                <div class="upload-button">
                    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                </div>
                <input class="file-upload" type="file" accept="image/*"/>
            </div>
            <p>Tên: <%=user.fullname %> </p>
            <p>Email: <%=user.email %> </p>
        </div>
        <div id="middle-panel" class="col-12 col-md-4">
            <div class="middle-panel-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col" colspan="3">Danh sách bạn bè</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% user.list_friends.forEach(element => { %>
                            <tr class="align-middle">
                                <td>
                                    <div class="avatar-circle">
                                        <span class="avatar-initials">A</span>
                                    </div>
                                </td>
                                <td><%= element.fullname %> </td>
                                <td>
                                    <a class="btn btn-success btn-sm" href="" role="button">Gọi</a>
                                    <button id="<%= element.id %>" type="button" class="btn btn-danger btn-sm unfriendBtn">Hủy kết bạn</button>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="right-panel" class="col-12 col-md-4" style="background-color: burlywood;">
            <div class="right-panel-content">
                <table id="suggest" class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col" colspan="3">Gợi ý kết bạn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% list_suggest.forEach(element => { %>
                            <% if (element.status != 2) { %>
                                <tr class="align-middle">
                                    <td>
                                        <div class="avatar-circle">
                                            <span class="avatar-initials">A</span>
                                        </div>
                                    </td>
                                    <td><%= element.request_to.fullname %> </td>
                                    <% if (element.status == 0) { %>
                                        <td><button id="<%=element.request_to.id%>" type="button" class="btn btn-secondary btn-sm requestBtn">Kết bạn</button></td>
                                    <% } %>
                                    <% if (element.status == 1) { %>
                                        <td><button id="<%=element.request_to.id%>" type="button" class="btn btn-danger btn-sm cancel-requestBtn">Hủy lời mời</button></td>
                                    <% } %>
                                </tr>
                            <% } %>
                        <% }) %>      
                    </tbody>
                </table>
    
                <table id="request" class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col" colspan="3">Lời mời kết bạn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (list_notification) { %>
                            <% list_notification.request_from.forEach(element => { %>
                                <tr class="align-middle">
                                    <td>
                                        <div class="avatar-circle">
                                            <span class="avatar-initials">A</span>
                                        </div>
                                    </td>
                                    <td><%= element.user.fullname %> </td>
                                    <td>
                                        <button id="<%=element.user.id%>" class="btn btn-success btn-sm acceptBtn" type="button">Đồng ý</button>
                                        <button id="<%=element.user.id%>" type="button" class="btn btn-danger btn-sm declineBtn">Từ chối</button>
                                    </td>
                                </tr>
                            <% }) %>    
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') -%>