<% let count = 0 %>
<% if (typeof list_notification !== 'undefined' && list_notification !== null) { %>
    <% list_notification.request_from.forEach(element => { %>
        <% if (element.status == 'new') { %>
            <% count++ %> 
        <% } %>
    <% }) %>
<% } %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" id="nav-content">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
            </ul>
            <% if (isLogged == true) { %>
                <ul id="nav">
                    <li id="notification_li">
                        <i id="notificationLink" 
                            class="<% if (count>0) { %>
                                        fas fa-bell fa-lg
                                    <% } else { %>
                                        far fa-bell fa-lg
                                    <% } %>">
                                    <!-- class bell -->
                                
                            <!-- if new notification -->
                            <% if (count>0) { %>
                                <span id="notification_count"><%=count%></span>
                            <% } %>
                        </i>
                        <div id="notificationContainer">
                            <div id="notificationTitle">Thông báo</div>
                            <div id="notificationsBody" class="notifications">
                                <table class="table">
                                    <tbody>
                                    <% if (list_notification) { %>
                                        <% list_notification.request_from.forEach(element => { %>
                                            <% if (element.status == 'new') { %>
                                                <tr class="align-middle new-notification" style="background-color: aqua;">
                                                    <td>
                                                        <div class="avatar-circle">
                                                            <span class="avatar-initials">A</span>
                                                        </div>
                                                    </td>
                                                    <td class="line-notification">Lời mời kết bạn từ <%= element.user.fullname %></td>
                                                    <td>
                                                        <button id="<%=element.user.id%>" class="btn btn-success btn-sm acceptBtn" type="button">Đồng ý</button>
                                                        <button id="<%=element.user.id%>" type="button" class="btn btn-danger btn-sm declineBtn">Từ chối</button>
                                                    </td>
                                                </tr>
                                            <% } else { %>
                                                <tr class="align-middle new-notification" >
                                                    <td>
                                                        <div class="avatar-circle">
                                                            <span class="avatar-initials">A</span>
                                                        </div>
                                                    </td>
                                                    <td class="line-notification" >Lời mời kết bạn từ <%= element.user.fullname %></td>
                                                    <td>
                                                        <button id="<%=element.user.id%>" class="btn btn-success btn-sm acceptBtn" type="button">Đồng ý</button>
                                                        <button id="<%=element.user.id%>" type="button" class="btn btn-danger btn-sm declineBtn">Từ chối</button>
                                                    </td>
                                                </tr>
                                            <% } %> 
                                            
                                        <% }) %>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div id="notificationFooter">
                                <a href="/account-detail">See All</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="float-left fromUser" id="<%=user.id%>">
                    <div class="float-left">
                        <div class="avatar-circle">
                            <span class="avatar-initials">K</span>
                        </div>
                    </div>
                    <div class="btn-group h-40 w-170">
                        <button type="button" class="btn btn-user-setting dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                            <%= user.fullname %> 
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end">
                            <li><a class="dropdown-item" href="/account-detail">Thông tin tài khoản</a></li>
                            <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            <% } else { %>
                <div class="float-left">
                    <div class="btn-group h-40">
                        <a href="/auth/login" class="btn btn-user-setting" >Đăng nhập</a>
                    </div>
                </div>
            <% } %> 
             
            
        </div>
    </div>
</nav>